# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock
*.sqlite
*.sqlite3

# Build output
dist/
build/
out/

# Coverage
coverage/
*.lcov

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# React specific
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Temporary files
*.tmp
*.temp
*.cache

# Tests
*.spec.js
*.spec.jsx
*.test.js
*.test.jsx
__snapshots__/
__tests__/

# Other OS and tools
Thumbs.db
Desktop.ini
*.iml
*.mvn
.vscode/*
backend/public/videos/1735343293281.mp4
backend/public/videos/1735344173845.mp4
backend/public/videos/1735344309693.mp4
backend/public/videos/1735344514365.mp4
backend/public/videos/1735344832077.mp4
backend/public/videos/1735345137138.mp4
backend/public/videos/1735345179130.mp4
backend/public/videos/1735345488756.mp4
backend/public/videos/1735345599693.mp4
backend/public/videos/1735345721761-thumbnail.jpg
backend/public/videos/1735345722379.mp4
backend/public/videos/1735345877843-thumbnail.jpg
backend/public/videos/1735345878189.mp4
backend/public/videos/1735345922133.mp4
backend/public/videos/1735346163704.mp4
backend/public/videos/1735346414742.mp4
backend/public/videos/1735347806356.mp4
backend/public/videos/1735347826222.mp4
backend/public/videos/1735348231109.mp4
backend/public/videos/1735348257597.mp4
backend/public/videos/1735348433814.mp4
backend/public/videos/1735348845297.mp4
backend/public/videos/1735349007880.mp4
backend/public/videos/1735349114388.mp4
backend/public/videos/1735349618984.mp4
backend/public/videos/1735349709670.mp4
backend/public/videos/1735349776949.mp4
backend/public/videos/1735349941350.mp4
backend/public/videos/error_1735349672670.png
backend/public/videos/error_1735349984755.png
backend/public/videos/error_1735435696606.png
backend/public/videos/error_1735435740884.png
